.gallery {
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.controls {
    width: fit-content;
    margin: 0 auto;
    padding-top: 20px;
}
.controls button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.first-image {
    margin-left: 0;
}
#left_button, #right_button {
    background-color: aquamarine;
}